<!DOCTYPE html>
<html>
<head>
    <title>InOrder - Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="/javascripts/refresh.js" defer></script>
    <script src="/javascripts/utils.js" defer type="module"></script>
    <script src="/javascripts/navigation.js" defer type="module"></script>
    <script src="/javascripts/error.js" defer type="module"></script>


    <script defer>
        let selectedTags = [];
        try {
            selectedTags = new URLSearchParams(window.location.search).get('tags').split(',');
            if(selectedTags[0] === '') {
                selectedTags = [];
            } else {
                selectedTags = selectedTags.map(tag => tag.trim());
            }
        } catch(e) {
            selectedTags = [];
        }

        function toggleTag(tag_name) {
            if(selectedTags.includes(tag_name)) {
                selectedTags = selectedTags.filter(tag => tag !== tag_name);
            } else {
                selectedTags.push(tag_name);
            }
            const url = new URL(window.location.href);
            url.searchParams.set('tags', selectedTags.join(','));
            window.location.href = url.toString();
        }

        function searchItems() {
            const searchInput = document.getElementById('search-input').value.trim();
            const url = new URL(window.location.href);
            url.searchParams.set('search', searchInput);
            window.location.href = url.toString();
        }
    </script>
</head>
<body>
    <nav class="flex items-center flex-row justify-between py-2 px-4 border-b-2 border-b-gray-500">
        <a class="text-3xl font-thin ubuntu-regular text-center align-middle" href="/home">InOrder</a>
        <div class="flex flex-row gap-6 justify-center items-center">
            <h1 class="text-xl ubuntu-bold"><%= user.username %></h1>
            <button class="sbutton h-12 cursor-pointer" onclick="logoutHandler()">Logout</button>
        </div>
    </nav>

    <a class="text-red-500"></a>
    <a class="text-yellow-500"></a>
    <a class="text-teal-500"></a>
    <a class="text-green-500"></a>

    <% if(error != "") { %>

        <div id="error-container" class="flex flex-col gap-2 mt-4 ml-12 rounded bg-red-200 p-2 w-fit">
            <div class="flex flex-row justify-between items-center">
                <div class="ubuntu-bold text-red-600">
                    Error: <span id="error-message"><%= error %></span>
                </div>
                <button id="toggle-error-btn" onclick="toggleError()" class="text-sm ml-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    <% } %>
    <div id="content-container" class="ml-12">
        <div id="orders-meta-container">
            <div class="mt-5 ubuntu-bold text-2xl">Your Orders</div>
            <div id="tags-container" class="flex flex-row mt-5 gap-2">
                <div class="ubuntu-regular text-xl">Filters: </div>
                <% for(let j=0; j<selectedStatusTags.length ; j++) { %>
                    <button id="<%= selectedStatusTags[j] %>-toggler" onclick="toggleOrderFilter('<%= selectedStatusTags[j] %>')"  class="tag tag-selector tag-selected"><%= selectedStatusTags[j] %></button>
                <% } %>
                <% for(let j=0; j<statustags.length ; j++) { %>
                    <button id="<%= statustags[j] %>-toggler" onclick="toggleOrderFilter('<%= statustags[j] %>')"  class="tag tag-selector"><%= statustags[j] %></button>
                <% } %>
            </div>
            <div id="orders-container" class="flex flex-row mt-5 flex-wrap gap-3 items-center">
                <% for(let i=0; i<orders.length ; i++) { %>
                    <a href=<%= `/order/${orders[i].id}` %>  class="order-card">
                        <div>
                            <h2 class="text-lg font-bold ubuntu-bold">Order <%= orders[i].id %> ( <span class=<%= `text-${orderColourMap[orders[i].status]}` %> ><%= orders[i].status %></span>  )</h2>
                            <p class="mt-2 text-gray-500">Created At <%= new Date(orders[i].issued_at).toLocaleString() %></p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </a>
                <% } %>
                    <a href="/order/create" class="add-order-card">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Create Order
                    </a>
            </div>
        </div>
        
        <div id="items-meta-container">
            <div class="mt-5 ubuntu-bold text-2xl ">Items Available</div>

            <div class="flex flex-row gap-2 items-center mt-3">
                <input type="text" id="search-input" placeholder="Search Items" class="sbutton">
                <button class="sbutton" onclick="searchItems()">Search</button>
            </div>

            <div id="tags-container" class="flex flex-row mt-5  gap-2">
                <div class="ubuntu-regular text-xl">Filters: </div>
                <% for(const i in selectedTags) { %>
                    <button onclick=<%= `toggleTag("${i}")`  %>  class="tag tag-selector tag-selected"><%= i %></button>
                <% } %>
                <% for(let j=0; j<tags.length ; j++) { %>
                    <% if(selectedTags[tags[j].name]) continue; %>
                    <button onclick=<%= `toggleTag("${tags[j].name}")`  %>  class="tag tag-selector"><%= tags[j].name %></button>
                <% } %>
            </div>


            <div id="" class="flex flex-row flex-wrap mt-5  gap-3 items-center w-[80%]">
                <% for(let i=0; i<items.length ; i++) { %>
                    <div href=<%= `/items/${items[i].id}` %>  class="item-card">
                        <img src="<%= items[i].image %>" style="height: 6rem; width: auto;">
                        <div>
                            <h2 class="text-lg font-bold ubuntu-bold"><%= items[i].name %></h2>
                            <p class="mt-2 text-gray-500"><%= items[i].description %></p>
                            <p class="mt-2 text-gray-800">Price: ₹<%= items[i].price %></p>
                            <div id="tags" class="flex flex-row flex-wrap gap-2 mt-1">
                                <% for(let j=0; j<items[i].tags.length ; j++) { %>
                                    <span class="tag"><%= items[i].tags[j][1] %></span>
                                <% } %>
                            </div>

                        </div>
                    </div>
                <% } %>
            </div>

            <div id="page-controller" class="">
                <button onclick="navigatePage(false)"  class="page-controller-button sbutton">
                    <
                </button>
                <div>
                    Page <span id="page-current"><%= page.current %></span> of <span id="page-total"><%= page.total %></span>
                </div>
                <button onclick="navigatePage(true)" class="page-controller-button sbutton">
                    >
                </button>
            </div>       
        </div>
        



    <br></br>

</body>
</html>