<!DOCTYPE html>
<html>
<head>
    <title>InOrder - Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="/javascripts/refresh.js" defer></script>
    <script src="/javascripts/utils.js" defer type="module"></script>
    <script src="/javascripts/navigation.js" defer type="module"></script>
    <script src="/javascripts/error.js" defer type="module"></script>
    <script src="/javascripts/users.js" defer type="module"></script>
    <script src="/javascripts/user-filter.js" defer type="module"></script>

    <script defer>
        let selectedTags = [];
        try {
            selectedTags = new URLSearchParams(window.location.search).get('tags').split(',');
            if(selectedTags[0] === '') {
                selectedTags = [];
            } else {
                selectedTags = selectedTags.map(tag => tag.trim());
            }
        } catch(e) {
            selectedTags = [];
        }

        function toggleTag(tag_name) {
            if(selectedTags.includes(tag_name)) {
                selectedTags = selectedTags.filter(tag => tag !== tag_name);
            } else {
                selectedTags.push(tag_name);
            }
            window.location.href = `/home?tags=${selectedTags.join(',')}`;
        }
    </script>
</head>
<body>
    <nav class="flex items-center flex-row justify-between py-2 px-4 border-b-2 border-b-gray-500">
        <a class="text-3xl font-thin ubuntu-regular text-center align-middle" href="/home">InOrder <span class="ubuntu-thin text-xl"><%= user.role === "admin" ? "admin" : (user.role==="chef" ? "chef" : "") %></span></a>
        <div class="flex flex-row gap-6 justify-center items-center">
            <h1 class="text-xl ubuntu-bold"><%= user.username %></h1>
            <button class="sbutton h-12 cursor-pointer" onclick="logoutHandler()">Logout</button>
        </div>
    </nav>

    <% if(error != "") { %>

        <div id="error-container" class="flex flex-col gap-2 mt-4 ml-12 rounded bg-red-200 p-2 w-fit">
            <div class="flex flex-row justify-between items-center">
                <div class="ubuntu-bold text-red-600">
                    Error: <span id="error-message"><%= error %></span>
                </div>
                <button id="toggle-error-btn" onclick="toggleError()" class="text-sm ml-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    <% } %>
    <div id="content-container" class="justify-center items-center mt-8 ml-12 flex flex-col gap-4">
        
        <div id="users-container" class="flex flex-col gap-3">

            <div id="create-user-container" class="flex flex-col gap-2 p-3 bg-white rounded-xl shadow-md border-2">
                <div class="ubuntu-bold text-2xl">Create User</div>
                <form id="createUserForm" action="/api/users" method="POST" class="space-y-4 flex flex-row gap-4  justify-center align-middle">
                    <div>
                        <input type="text" id="username" name="username" placeholder="Username" required class="border p-2 rounded w-full ubuntu-regular">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="Password" required class="border p-2 rounded w-full ubuntu-regular">
                    </div>
                    <div>
                        <select id="role" name="role" required class="border p-2 rounded w-fit ubuntu-regular">
                            <option value="" disabled selected>Select Role</option>
                            <option value="admin">Admin</option>
                            <option value="chef">Chef</option>
                            <option value="customer">Customer</option>
                        </select>
                    </div>
                    <button type="submit" id="create-submit" class="smoll-button h-9">Create User</button>
                </form>

            </div>

            <div id="users-table-container" class="relative overflow-x-auto min-w-96 p-2 bg-white rounded-xl shadow-md border-2" style="max-height: 40rem;">

                <div class="flex flex-row gap-3">
                    <input type="text" id="search-input" placeholder="Search Username" class="border p-2 rounded w-full ubuntu-regular">
                    <button class="sbutton" onclick="searchUserHandler()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>

                    </button>
                </div>

                <div id="tags-container" class="flex flex-row mt-5 gap-2">
                    <div class="ubuntu-regular text-xl">Filters: </div>
                    <% for(let j=0; j<selectedRoles.length ; j++) { %>
                        <button id="<%= selectedRoles[j] %>-toggler" onclick="toggleUserRoles('<%= selectedRoles[j] %>')"  class="tag tag-selector tag-selected"><%= selectedRoles[j] %></button>
                    <% } %>
                    <% for(let j=0; j<roles.length ; j++) { %>
                        <button id="<%= roles[j] %>-toggler" onclick="toggleUserRoles('<%= roles[j] %>')"  class="tag tag-selector"><%= roles[j] %></button>
                    <% } %>
                </div>
                <table class="w-full bg-white p-3">
                    <thead class="text-md ubuntu-bold text-xl ubuntu-bold">
                        <tr>
                            <th scope="col" class="px-2 py-3">
                                Username
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Role
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Created At
                            </th>
                            <th scope="col" class="px-2 py-3"></th>
                        </tr>
                    </thead>
                    <tbody class="text-md text-center ubuntu-regular">
                        <% for(let i=0; i<users.length ; i++) { %>
                            <tr class="bg-white border-b">
                                <td class="px-6 py-4">
                                    <%= users[i].username %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= users[i].role %>
                                </td>
                                <td class="px-10 py-4">
                                    <%= new Date(users[i].created_at).toLocaleString() %>
                                </td>
                                <td>
                                    <button class="sbutton" onclick="deleteUserHandler('<%= users[i].id %>')">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

            </div>

            <div id="page-controller">
                <button onclick="navigatePage(false)"  class="page-controller-button sbutton">
                    <
                </button>
                <div>
                    Page <span id="page-current"><%= page.current %></span> of <span id="page-total"><%= page.total %></span>
                </div>
                <button onclick="navigatePage(true)" class="page-controller-button sbutton">
                    >
                </button>
            </div>
        </div>


    <br></br>

</body>
</html>